#command to be executed
#-     -     -   -    -
#|     |     |   |    |
#|     |     |   |    +----- day of week (0 - 6) (Sunday=0)
#|     |     |   +------- month (1 - 12)
#|     |     +--------- day of        month (1 - 31)
#|     +----------- hour (0 - 23)
#+------------- min (0 - 59)
#*     *     *   *    *        command to be executed

*     *           *    *   * echo `date` > /var/logs/lastdate.txt
*     0           *    *   * /cron-scripts/build_installer.sh
